@model List<NPUser>

@inject PrenExplorer.Services.GroupService _groupService
@inject PrenExplorer.Services.BranchService _branchService

@{
    var groups = await _groupService.GetGroupsAsync();
    Model.Sort((x, y) => String.Compare(x.Lastname, y.Lastname));
}
<style>
    table{
        font-size: 1rem !important;
    }

    .a-text:hover{
        text-decoration: none;
        color: white;
    }
</style>
<div class="container table-container">
    <table class="table table_bordered">
        <tr>
            <th>
                Имя
            </th>
            <th>
                Имя родителя
            </th>
            <th>
                Дата архивации
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Комментарий
            </th>
            <th>
                Разархивировать
            </th>
        </tr>
        @foreach (var student in Model)
        {
            <tr data-id="@student.Id" id="@student.Id">
                <td>
                    @(student.Lastname + " " + student.FirstName)
                </td>
                <td>
                    @student.ParentName
                </td>
                <td>
                    -
                </td>
                <td>
                    @student.PhoneNumber
                </td>
                <td>
                    @{
                        if(student.Note != "" && student.Note != null){
                            <a href="" title="@student.Note" class="a-text">Комментарий</a>
                        }
                    }
                </td>
                <td>
                    <form asp-action="UnblockUser" asp-controller="Student"
                          data-ajax="true"
                          data-ajax-success="Okay(@student.Id)">
                        <input type="hidden" name="studentId" value="@student.Id" />
                        <select name="groupId" class="form_control" data-name="@(student.FirstName+" "+student.Lastname)">
                            @foreach (var group in groups)
                            {
                                <option value="@group.Id">
                                    @((await _branchService.GetBranchByIdAsync(group.BranchId)).Name)
                                    @PrenExplorer.Helpers.StHel.TimeTableToString(group.TimeTable)
                                </option>
                            }
                        </select>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
<script>
    function Okay(st_data) {
        let st = "[data-id = " + st_data + "]";
        $(st).remove();
    }

    $('select').on('change', (event) => {
        let submit_button = $(event.currentTarget).parent();
        let message = 'Разархивировать ' + $(event.currentTarget).attr('data-name') + "?";
        if (confirm(message)) $(submit_button).submit();
        $(event.currentTarget).parents('tr').remove();
    });
</script>