@model PrenExplorer.ViewModels.StudentLessonViewModel
@inject PrenExplorer.Services.GroupService _groupService
@inject PrenExplorer.Services.AccountService _accountService
@inject PrenExplorer.Services.StudentService _studentService
@inject PrenExplorer.Services.ProjectService _projectService 
@inject PrenExplorer.Services.LevelService _levelService

@{
    NPUser student = await _studentService.GetStudentById(ViewBag.StudentId);
    List<Level> levels = await _levelService.GetCollectionAsync();
    List<Project> projects = await _projectService.GetProjectsByLevelIdAsync(ViewBag.LevelId);

    /*
    ViewBag.ProjectId = project.Id;
            ViewBag.LevelId = level.Id;
            ViewBag.StudentId = student.Id;

    <select asp-for="EmployeeId" 
            asp-items="@(new SelectList(Model.EmployeesList,"Id","FullName"))">
        <option>Please select one</option>
    </select>
    */
}

<div class="pop-up" id="pop-up">
    <form asp-action="LessonDetailSubmit" asp-controller="Student" id="levelForm"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-mode="replace"
          data-ajax-update="#pop-up">
        <div asp-validation-summary="All"></div>
        <div class="hidden">
            <label asp-for="StudentId"></label><br />
            <input asp-for="StudentId" class="form-control d-none" value="@ViewBag.StudentId" />
            <span asp-validation-for="StudentId"></span>
        </div>
        <div>
            <label asp-for="StudentName">Имя:</label><br />
            <input asp-for="StudentName" value="@student.FirstName @student.Lastname" class="dark_input margin_bottom" />
            <span asp-validation-for="StudentName"></span>
        </div>
        <div>
            <label asp-for="LevelId">Уровень:</label><br />
            <select class="dark_input margin_bottom" asp-for="@Model.LevelId" 
                    asp-items="@(new SelectList(levels, "Id", "Name", ViewBag.LevelId.ToString()))"
                    onchange="loadProjects(this)">
              
            </select>
            <span asp-validation-for="LevelId"></span>
        </div>

        <div>
            <label asp-for="ProjectId">Проект:</label><br />
            <select class="dark_input" asp-for="@Model.ProjectId" id="projects"
                    asp-items="@(new SelectList(projects, "Id", "Name", ViewBag.ProjectId.ToString()))"
                    onchange="loadProjects(this)">
      
            </select>
            <span asp-validation-for="ProjectId"></span>
        </div>

    </form>
    <div id="popup"></div>
    <script>
        function loadProjects(levelSelect) {
            $('#levelForm').submit();
        }
    </script>
</div> 